<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see http://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<%_ const keyPrefix = entityTranslationKey; _%>
<app-header title="{{'<%= entityClassPlural %>' | translate}}"></app-header> 

<ion-content padding>
 
<%_ if (genEditPage) { _%> 
  <ion-button class='hidden-xs-down' size='small' float-right [routerLink]="['/entities/<%=entityFileName %>/new0']">
    <ion-icon slot="start" name="add"> </ion-icon>
    {{ 'New' | translate }} {{ '<%=entityClass _%>' | translate }}
  </ion-button>
  <ion-fab class='hidden-sm-up' vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/entities/<%=entityFileName %>/new0']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <%_ } _%>

  <%_ if (fieldsContainActive) { _%>
  <ion-segment small [(ngModel)]="<%=entityInstance %>Active" (ionChange)="loadAll($event)">
    <ion-segment-button small value=true>
      <ion-label>{{'Active' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button small value=false>
      <ion-label>{{'Inactive' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <%_ } _%>

  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>

  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content>{{ 'LOADING'| translate}}</ion-refresher-content>
  </ion-refresher>

  <div class="overflowX" *ngIf="<%=entityInstancePlural %>?.length > 0">
      <table>
        <thead>
        <!-- you can hide rows according to screen-size changing xs by (sm,md,lg or xl) -->
        <tr> 
            <%_ for (idx in fields) { _%>
                <%_ if (fields[idx].fieldName === 'name' || fields[idx].fieldName === 'title') { _%>
            <th><b>{{ '<%=fields[idx].fieldNameCapitalized _%>' | translate }}</b>
                <%_ }  else if (fields[idx].fieldName !== 'active' ) { _%>
            <th class='hidden-xs-down'> {{ '<%=fields[idx].fieldNameCapitalized _%>' | translate }}
              <%_ } _%>
              <%_ if (fields[idx].fieldName !== 'active') { _%>
                <ion-icon name="arrow-dropup" (click)="sort('<%=fields[idx].fieldName _%>', true)"></ion-icon>
                <ion-icon name="arrow-dropdown" (click)="sort('<%=fields[idx].fieldName _%>', false)"></ion-icon>
            </th>
            <%_ } _%>
            <%_ } _%>
            <th></th>
        </tr>
        <tbody>
            <tr *ngFor="let <%=entityInstance %> of <%=entityInstancePlural %>;" >
                <%_ for (idx in fields) {
                    const fieldName = fields[idx].fieldName;
                    const fieldNameCapitalized = fields[idx].fieldNameCapitalized;
                    const fieldType = fields[idx].fieldType;
                    const fieldTypeBlobContent = fields[idx].fieldTypeBlobContent; _%>
                     <%_ if (fieldName === 'active' ) { _%>
                    <%_ } else if (['byte[]', 'ByteBuffer'].includes(fieldType) && fieldTypeBlobContent === 'image') { _%>
                    <td>
                    <ion-avatar<% if (idx === 0) { %>item-start<% } %> *ngIf="<%= entityInstance %>.<%= fieldName %>">
                        <img [src]="'data:' + <%=entityInstance %>.<%=fieldName%>ContentType + ';base64,' + <%=entityInstance %>.<%=fieldName%>" />
                        <p *ngIf="<%= entityInstance %>.<%= fieldName %>">{{<%= entityInstance %>.<%= fieldName %>ContentType}}, {{byteSize(<%= entityInstance %>.<%= fieldName %>)}}</p>
                    </ion-avatar>
                    </td>
                    <%_ } else if (fields[idx].fieldIsEnum) { _%>
                    <!-- todo: special handling for translating enum - {{'<%= fieldType %>.' + <%= entityInstance %>.<%= fieldName %>}}" -->
                    <td class='hidden-xs-down'>{{<%=entityInstance %>.<%=fieldName%>}}</td>
                    <%_ } else if (['Instant', 'ZonedDateTime'].includes(fieldType)) { _%>
                    <td class='hidden-xs-down'>{{<%=entityInstance %>.<%=fieldName%> | date:'d/M/yy (H:mm)'}}</td>
                    <%_ } else if (fieldType === 'LocalDate') { _%>
                    <td class='hidden-xs-down'>{{<%=entityInstance %>.<%=fieldName%> | date:'d/M/yy (H:mm)'}}</td>
                    <%_ } else { _%>
                         <%_ if (fieldName === 'name' || fieldName === 'title') { _%>
                    <ion-text color="primary"><h6>{{<%=entityInstance %>.<%=fieldName%>}}</h6></ion-text>
                         <%_ } else { _%>
                    <td class='hidden-xs-down'>{{<%=entityInstance %>.<%=fieldName%>}}</td>
                          <%_ } _%>
                    <%_ } _%>
                <%_ } _%>
        <%_ if (genEditPage) { _%>
            <td>
            <ion-button size='small' [routerLink]="['/entities/<%=entityFileName %>/edit',<%=entityInstance %>.id ]">
                <ion-icon slot="start" name="create"> </ion-icon>
                {{ 'EDIT' | translate }}
            </ion-button>
            <%_ if (fieldsContainActive) { _%>
                <ion-button size='small' (click)='chgActive(<%=entityInstance %>.id,true)' *ngIf="!<%=entityInstance %>.active">
                    <ion-icon slot="start" name="checkmark-circle"> </ion-icon>
                    {{ 'Activate' | translate }}
                </ion-button>
                <ion-button size='small' (click)="chgActive(<%=entityInstance %>.id,false)" *ngIf="<%=entityInstance %>.active">
                    <ion-icon slot="start" color="red" name="trash"> </ion-icon>
                    {{ 'Deactivate' | translate }}
                </ion-button>
            <%_ } _%>
            </td>
        <%_ } _%>
        </tr>
        </tbody>
      </table>
    </div>
    <ion-item *ngIf="!<%=entityInstancePlural %>?.length">
        <ion-label>
            No <%= entityClassPluralHumanized %> found.
        </ion-label>
    </ion-item>

</ion-content>
